*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

/* assets */

.centered-container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


.blue-button{
    border: none;
    background-color: #0061ff;
    color: white;
    padding: 8px 15px
}

.blue-button:hover{
    background-color: #00aeff;
}

.white-button{
    background-color: white;
    border: 1px solid black;
    padding: 10px;

}

.white-button:hover{
    background-color: #b8b6b6;
}




/* nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: white;
}

/* nav left side */
nav #left-nav{
    display: flex;
    align-items: center;
    gap: 30px;

}

nav #left-nav-links{
    display: flex;
    gap: 30px;
}

/* nav right side */
nav #right-nav{
    display: flex;
    align-items: center;
    gap: 15px;

}

nav #right-nav-links{
    display: flex;
    gap: 30px;

    box-sizing: content-box;
}

/* nav links  */
nav #left-nav-links a, nav #right-nav-links a{
    text-decoration: none;
    color: black;

    font-size: .8em;

    padding: 15px;

    
}

nav #left-nav-links a:hover, nav #right-nav-links a:hover {
    color: blue;

    border-bottom: 2px solid blue;
}


/* header */

header{
    background-color: #b4d0e7;
}

header #header-centered-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* header top side */
header #header-top{
    padding-top: 100px;
}
header #header-top h1{
    font-size: 4em;
}

/* header bottom side */
header #header-bottom{
    display: flex;
    align-items: flex-start;

    padding-top: 30px;
    
}

header #header-bottom-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    max-width: 300px;
}

/* down arrow color */
header #header-bottom-left a{
    padding-top: 50px;
    font-size: 3em;
    color: black;
}

/* header image  */
header #header-bottom-right img{
    width: 100%;

    margin-bottom: -50px;
}


/* main */


/* first section */

main #first-section{
    padding-top: 100px;
}

/* checkboxes */
main #first-section #checkbox{
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 30px 0;
}

/* first section tab */
main #first-section #tab-columns{
    display: flex;
    gap: 30px;
}


main #first-section #tab-container .column{
    border: 1px solid lightgray;
    width: calc(100% / 3);
}

main #first-section .plan-members{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;

    border-bottom: 1px solid lightgray;
}

/* column sect1 */

main #first-section .column .column-sect1{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding:20px;

}

main #first-section .column .column-sect1 .price{
    font-weight: bold;
}

main #first-section .column .column-sect1 .rate{
    color: gray;
}

/* column sect2 */

main #first-section .column .column-sect2{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding:20px
}

main #first-section .column .column-sect2 .user{
    display: flex;
    gap: 5px;
}

main #first-section .column .column-sect2 .storage{
    display: flex;
    gap: 5px;
}
main #first-section .column .column-sect2 .functions{
    display: flex;
    gap: 5px;
}

/* column sect3 */
main #first-section .column .column-sect3{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
}

main #first-section .column .column-sect3 hr{
    width: 50px;
    margin-top: 20px;
}

/* column sect4 */

main #first-section .column .column-sect4{
    display: flex;
    flex-direction: column ;
    gap: 10px;
    
    padding: 20px;
}

main #first-section .column .column-sect4 .higlight{
    display: flex;
    gap: 5px;
}

main #first-section .column .column-sect4 i{
    color: #0061ff;
}

/* tab row */
main #first-section #tab-row{
    display: flex;
    flex-direction: column;

    margin-top: 30px;

    border: 1px solid lightgray;

}

/* tab row top */
main #first-section #tab-row #row-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-bottom: 1px solid lightgray;

    padding: 10px 0;
}

 /* tab row bottom */
main #first-section #tab-row #row-bottom{
    display: flex;
    gap: 10px;
}

 /* tab row bottom left */
main #first-section #tab-row #row-bottom-left{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;

    max-width: 650px;

}

 /* tab row bottom right */
main #first-section #tab-row #row-bottom-right{
    padding: 20px;
    
}


/* second section */

main #second-section{
    padding-top: 100px;

    display: flex;
    gap: 30px;

}
/* second section image */
main #second-section #section2-pic img{
    width: 100%;
}

/* second section text and button  */
main #second-section #section2-text{
    max-width: 250px;

    padding-top: 50px;

}

main #second-section #section2-text p{
    padding:10px 0;
}

/* third section */

main #third-section{
    padding-top: 100px;
}

/* card container */
main #third-section #card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    padding-top: 20px;
}
/* card and image */
main #third-section .card{
    width: calc(100% / 3 - 30px);

    display: flex;
    flex-direction: column;
    gap: 15px;
} 

main #third-section .card img{
    width: 80%;

}

/* fourth section */
main #fourth-section{
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    gap: 40px;
}


/* fifth section */

main #fifth-section{
    display: flex;
}

 main #fifth-section > div{
    width: calc(100% / 3);
 }

 /* fifth section left side */
 main #fifth-section-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 main #fifth-section-left img{
    width: 50%;
    min-width:200px ;

    padding: 50px;
 }

/* logos backgrounds */
main #fifth-section-left #logo1{
    background-color: #a2d39b;
}
main #fifth-section-left #logo2{
    background-color: #61082a;
}
main #fifth-section-left #logo3{
    background-color: #0193ce;
}
main #fifth-section-left #logo4{
    background-color: #ff1d1b;
}

/* fifth section middle */

main #fifth-section-middle{
    background-color: #f5f5f5;

    display:flex ;
    flex-direction: column;
    gap: 30px;

    padding: 40px;

}

/* img size */
main #fifth-section-middle img{
    width: 50%;

}

/* hr width */
main #fifth-section-middle hr{
    width: 100px;
}


/* fifth section right side */
main #fifth-section-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

main #fifth-section-right img{
    width: 50%;
    min-width: 200px;

    padding: 50px;
}

/* logos backgrounds */
main #fifth-section-right #logo5{
   background-color:#d5001f; 
}
main #fifth-section-right #logo6{
    background-color:#b4d0e7; 
}
main #fifth-section-right #logo7{
    background-color:#0d2481; 
}
main #fifth-section-right #logo8{
    background-color:#ffd82f; 
}   

/* sixth section  */

main #sixth-section{
    background-color: #b4d0e7;
}

main #sixth-section-inner{
    padding: 100px;
    display: flex;
    align-items: center;
}
main #sixth-section h2{
    color: #631d36;
    max-width: 300px;
}

main #sixth-section .white-button.button2{
    border: none;
}

/* seventh section */

main #seventh-section{
    padding-top: 100px;
    padding-bottom: 80px;
}

main #seventh-section h2{
    padding-bottom: 20px;
}

main #seventh-section .question{
    display: flex;
    justify-content: space-between;

    padding: 30px 0;
}

main #seventh-section i{
    padding: 0 20px;
}

/* answer hide/show */

main #seventh-section .answer{
    display: none;

    padding-bottom: 20px;
}

main #seventh-section .qea:hover .answer{
    display: block;
}


footer{
    background-color: black;
    color: white;
}

/* footer inner top  */
footer #footer-inner-top{
    display: flex;
    justify-content: space-between;

    padding-top: 100px;
}

/* footer lists title */
footer #footer-inner h4{
    padding-bottom: 10px;
}

/* footer list */
footer #footer-inner li{
    list-style-type: none;
    padding-top: 5px;
    font-size: .8em;
}

footer #footer-inner a{
    text-decoration: none;
    color: white;
}

footer #footer-inner a:hover{
    text-decoration: underline;
}

footer #footer-inner-bottom hr{
    width: 100px;
    margin: 50px 0 20px;
}

footer #footer-inner-bottom #lenguage{
    display: flex;
    align-items:center;
    gap: 5px;

    font-size: .8em;

    padding-bottom: 50px;
}